#SettingsW{
    border: 0;
}
#NaviS{
    border: 0;
}
#NaviW{
    border: 0;
}
.NaviB{
    border:0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
#PanelS{
    border: 0;
}
#PanelW{
    border: 0;
}
#PanelTitleL{
    border: 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
.NameL{
    border: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.ValueL{
    border: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3em;
}
.ValueB{
    border: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.ValueC{
    border: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.ValueS{
    border: 0;
}
.ValueW{
    border: 0;
}