#recover_password_widget{
    background-color: #FAF7F0;
}
#recover_password_title_label{
    color: #1e1e1e;
    padding: 0.3em;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
#recover_password_requirments_label{
    color: #1e1e1e;
    padding: 0.3em;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
#recover_password_code_label{
    color: #1e1e1e;
    background-color: #D8D2C2;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8em;
}
#recover_password_time_label{
    color: #1e1e1e;
    padding: 0.5em;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
#recover_password_code_lineedit{
    color: #1e1e1e;
    background-color: #D8D2C2;
    border: 0;
    padding: 0.5em;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8em;
}
#recover_password_code_button{
    color: #1e1e1e;
    background-color: #D8D2C2;
    border: 0;
    padding: 0.3em;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
#recover_password_code_button:hover{
    background-color: #B17457;
}
.recover_password_password_line{
    color: #1e1e1e;
    background-color: #D8D2C2;
    border: 0;
    padding: 0.3em;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.recover_password_password_button{
    color: #1e1e1e;
    background-color: #D8D2C2;
    border: 0;
    padding: 0.3em;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.recover_password_password_button:hover{
    background-color: #B17457;
}
.recover_password_button{
    color: #1e1e1e;
    background-color: #D8D2C2;
    border: 0;
    padding: 0.3em;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.recover_password_button:hover{
    background-color: #B17457;
}
