#changelog_widget{
    background-color: #c3c3c3;
    border: 0;
}
#icon_label{
    background-color: #00000000;
}
#message_label{
    color: #1a1a1a;
    background-color: #00000000;
    border: 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
#dots_label{
    color: #1a1a1a;
    background-color: #00000000;
    border: 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
.buttons{
    color: #c3c3c3;
    background-color: #1a1a1a;
    border: 0;
    padding: 1em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
.buttons:hover{
    background-color: #282828;
}