#ObjectW{
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
}
#IconL{
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
}
#TickerL{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
#ChartW{
    border: 0;
}
#InfoTitleL{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
#InfoW{
    border: 0;
}
.Name{
    margin: 0.1em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.Value{
    margin: 0.1em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
}