#ListObjectW{
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
}
#NullDataL{
    border: 0;
}
#NameL{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
#DataS{
    border: 0;
}
#DataW{
    border: 0;
}
.SectionNameL{
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
.IndexL{
    border: 0;
    margin: 0.1em;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.IconL{
    border: 0;
    margin: 0.1em;
}
.TickerB{
    margin: 0.1em;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.NameL{
    border: 0;
    margin: 0.1em;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
}