#LoginConfigurationW{
    border: 0;
}
#TitleL{
    border: 0;
    font-size: 24px;
    font-weight:600;
    letter-spacing: 0.3em;
}
#InfoL{
    border: 0;
}
.NaviButton{
    border: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
.SubTitle{
    border: 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
.List{
    border: 0;
    margin: 2em 1em 2em 1em;
    padding: 1em;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.SubButton{
    border: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
#RegulationsS{
    border: 0;
}
#RegulationsS QScrollBar:vertical{
    border: none;
    width: 8px;
    margin: 0;
}
#RegulationsS QScrollBar::handle:vertical{
    min-height: 15px;
    border-radius: 2px;
}
#RegulationsS QScrollBar::add-line:vertical #RegulationsS QScrollBar::sub-line:vertical{
    border: none;
    background: none;
}

#RegulationsS QScrollBar::add-page:vertical #RegulationsS QScrollBar::sub-page:vertical{
    background: none;
}

#RegulationsW{
    border: 0;
}
#RegulationsValueL{
    border: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2em;
}