#LoginConfigurationW{
    background-color: #1a1a1a;
}
#TitleL{
    color: #c3c3c3;
    background-color: #00000000;
}
#InfoL{
    color: #c3c3c3;
    background-color: #00000000;
}
.NaviButton{
    color: #c3c3c3;
    background-color: #282828;
}
.NaviButton:hover{
    background-color: #1a1a1a;
}
.SubTitle{
    color: #c3c3c3;
    background-color: #00000000;
}
.List{
    color: #c3c3c3;
    background-color: #282828;
}
.List:hover{
    background-color: #1a1a1a;
}
.SubButton{
    color: #c3c3c3;
    background-color: #282828;
}
.SubButton:hover{
    background-color: #1a1a1a;
}
#RegulationsS{
    background-color: #282828;
}
#RegulationsW{
    background-color: #00000000;
}
#RegulationsValueL{
    color: #c3c3c3;
    background-color: #00000000;
}