#LoginW{
    border: 0;
}
.InputL{
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
#LoginB{
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    padding: 0.5em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
#RegisterB{
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    padding: 0.4em;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3em;
}
#WelcomeTitleL{
    border: 0;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0.25em;
}
#WelcomeSubL{
    border: 0;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.25em;
}
#WelcomeIconL{
    border: 0;
}