#LoginConfigurationW{
    background-color: #f5f5f5;
}
#TitleL{
    color: #2b2b2b;
    background-color: #00000000;
}
#InfoL{
    color: #2b2b2b;
    background-color: #00000000;
}
.NaviButton{
    color: #2b2b2b;
    background-color: #e0e0e0;
}
.NaviButton:hover{
    background-color: #f5f5f5;
}
.SubTitle{
    color: #2b2b2b;
    background-color: #00000000;
}
.List{
    color: #2b2b2b;
    background-color: #e0e0e0;
}
.List:hover{
    background-color: #f5f5f5;
}
.SubButton{
    color: #2b2b2b;
    background-color: #e0e0e0;
}
.SubButton:hover{
    background-color: #f5f5f5;
}
#RegulationsS{
    background-color: #e0e0e0;
}
#RegulationsW{
    background-color: #00000000;
}
#RegulationsValueL{
    color: #2b2b2b;
    background-color: #00000000;
}