#MainW{
    border: 0;
}
#NavW{
    border: 0;
}
.NavButton{
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25em;
}
.FuncButton{
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}
#OpenedW{
    border: 0;
}
#FooterW{
    border: 0;
}