#NewsReadS{
    border-color: #1a1a1a;
    background-color: #1a1a1a;
}
#ReadW{
    background-color: #00000000;
}
#PhotoL{
     background-color: #00000000;
}
#TitleL{
    color: #c3c3c3;
    background-color: #00000000;
}   
#ItemNameL{
    color: #c3c3c3;
    background-color: #00000000;
}
#DataL{
    color: #c3c3c3;
    background-color: #00000000;
}
.SubW{
     background-color: #00000000;
}
.SubTitleL{
    color: #c3c3c3;
    background-color: #00000000;
}   
#AuthorL{
    color: #c3c3c3;
    background-color: #00000000;
}