#NewsReadS{
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}
#ReadW{
    background-color: #00000000;
}
#PhotoL{
     background-color: #00000000;
}
#TitleL{
    color: #2b2b2b;
    background-color: #00000000;
}   
#ItemNameL{
    color: #2b2b2b;
    background-color: #00000000;
}
#DataL{
    color: #2b2b2b;
    background-color: #00000000;
}
.SubW{
     background-color: #00000000;
}
.SubTitleL{
    color: #2b2b2b;
    background-color: #00000000;
}   
#AuthorL{
    color: #2b2b2b;
    background-color: #00000000;
}