#ObjectInfoS{
    border-color: #1a1a1a;
    background-color: #1a1a1a;
}
#WidgetW{
    background-color: #00000000;
}
#IconL{
    background-color: #00000000;
}
#NameL{
    color: #c3c3c3;
    background-color: #00000000;
}
#IsoL{
    color: #c3c3c3;
    background-color: #00000000;
}
#ContinentL{
    color: #c3c3c3;
    background-color: #00000000;
}
#SubRegion{
    color: #c3c3c3;
    background-color: #00000000;
}
#InfoW{
    background-color: #00000000;
}
#InfoTitleL{
    color: #c3c3c3;
    background-color: #00000000;
}
.Name{
    color: #c3c3c3;
    background-color: #00000000;
}
.Value{
    color: #c3c3c3;
    background-color: #00000000; 
}