#ObjectStatsS{
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}
#WidgetW{
    background-color: #00000000;
}
.Title{
    color: #2b2b2b;
    background-color: #00000000;
}
.Name{
    color: #2b2b2b;
    background-color: #00000000;
}
.Value{
    color: #2b2b2b;
    background-color: #00000000;
}