#RegisterW{
    background-color: #f5f5f5;
}
#PasswordRequirementsL{
    color: #2b2b2b;
    background-color: #00000000;
}
#PasswordShowB{
    color: #2b2b2b;
    background-color: #e0e0e0;
    border-style: #e0e0e0;
}
#PasswordShowB:hover{
    background-color: #f5f5f5;
}
.SubTitle{
    color: #2b2b2b;
    background-color: #00000000;
}
.InputLine{
    color: #2b2b2b;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}
.InputLine:hover{
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}
.List{
    color: #2b2b2b;
    background-color: #e0e0e0;
}
.InfoLabel{
    color: #2b2b2b;
    background-color: #00000000;
}
.Button{
    color: #2b2b2b;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}
.Button:hover{
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}