#RegisterW{
    border: 0;
}
#PasswordRequirementsL{
    padding: 0.3em;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
#PasswordShowB{
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    padding: 0.3em;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.SubTitle{
    padding: 0.3em;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.InputLine{
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.List{
    border: 0;
}
.InfoLabel{
    border: 0;
    padding: 0.3em;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.2em;
}
.Button{
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    padding: 0.5em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3em;
}