#SettingsW{
    background-color: #f5f5f5;
}
#NaviS{
    background-color: #e0e0e0;
}
#NaviW{
    background-color: #00000000;
}
.NaviB{
    color: #2b2b2b;
    background-color: #e0e0e0;
}
.NaviB:hover{
    background-color: #f5f5f5;
}
#PanelS{
    background-color: #eeeeee;
}
#PanelW{
    background-color: #eeeeee;
}
#PanelTitleL{
    color: #2b2b2b;
    background-color: #00000000;
}
.NameL{
    color: #2b2b2b;
    background-color: #00000000;
}
.ValueL{
    color: #2b2b2b;
    background-color: #00000000;
}
.ValueB{
    color: #2b2b2b;
    background-color: #e0e0e0;
}
.ValueB:hover{
    background-color: #f5f5f5;
}
.ValueC{
    color: #2b2b2b;
    background-color: #f5f5f5;
}
.ValueS{
    background-color: #f5f5f5;
}
.ValueW{
    background-color: #00000000;
}