#SettingsW{
    background-color: #1a1a1a;
}
#NaviS{
    background-color: #282828;
}
#NaviW{
    background-color: #00000000;
}
.NaviB{
    color: #c3c3c3;
    background-color: #282828;
}
.NaviB:hover{
    background-color: #1a1a1a;
}
#PanelS{
    background-color: #1d1d1d;
}
#PanelW{
    background-color: #1d1d1d;
}
#PanelTitleL{
    color: #c3c3c3;
    background-color: #00000000;
}
.NameL{
    color: #c3c3c3;
    background-color: #00000000;
}
.ValueL{
    color: #c3c3c3;
    background-color: #00000000;
}
.ValueB{
    color: #c3c3c3;
    background-color: #282828;
}
.ValueB:hover{
    background-color: #1a1a1a;
}
.ValueC{
    color: #c3c3c3;
    background-color: #1a1a1a;
}
.ValueS{
    background-color: #1a1a1a;
}
.ValueW{
    background-color: #00000000;
}