#UpdateW{
   background-color: #1a1a1a;
}
#ChangelogS{
    background-color: #282828;
}
#ChangelogW{
    background-color: #00000000;
}
#ChangelogIconL{
    background-color: #00000000;
}
#ChangelogMessageL{
    color: #c3c3c3;
    background-color: #00000000;
}
#ChaneglogDotsL{
    color: #c3c3c3;
    background-color: #00000000;
}
.ChangelogB{
    color: #c3c3c3;
    background-color: #282828;
}
.ChangelogB:hover{
    background-color: #1a1a1a;
}
.Button{
    color: #c3c3c3;
    background-color: #282828;
}
.Button:hover{
    background-color: #1a1a1a;
}
#InfoL{
    color: #c3c3c3;
    background-color: #282828;
}