#UpdateChangelogW{
    background-color: #1a1a1a;
}
#TitleL{
    color: #c3c3c3;
    background-color: #00000000;
}
#ChangelogS{
    background-color: #282828;
}
#ChangelogW{
    background-color: #00000000;
}
#ChangelogTitleL{
    color: #c3c3c3;
    background-color: #00000000;
}
#ChangelogDateL{
    color: #c3c3c3;
    background-color: #00000000;
}
#ChangelogTextL{
    color: #c3c3c3;
    background-color: #00000000;
}
#ExitB{
    color: #c3c3c3;
    background-color: #282828;
}
#ExitB:hover{
    background-color: #1a1a1a;
}