#UpdateW{
   background-color: #f5f5f5;
}
#ChangelogS{
    background-color: #e0e0e0;
}
#ChangelogW{
    background-color: #00000000;
}
#ChangelogIconL{
    background-color: #00000000;
}
#ChangelogMessageL{
    color: #2b2b2b;
    background-color: #00000000;
}
#ChaneglogDotsL{
    color: #2b2b2b;
    background-color: #00000000;
}
.ChangelogB{
    color: #2b2b2b;
    background-color: #e0e0e0;
}
.ChangelogB:hover{
    background-color: #f5f5f5;
}
.Button{
    color: #2b2b2b;
    background-color: #e0e0e0;
}
.Button:hover{
    background-color: #f5f5f5;
}
#InfoL{
    color: #2b2b2b;
    background-color: #e0e0e0;
}