#UpdateChangelogW{
    border: 0;
}
#TitleL{
    border: 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3em;
}
#ChangelogS{
    border: 0;
}
#ChangelogW{
    border: 0;
}
#ChangelogTitleL{
    border: 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
#ChangelogDateL{
    border: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
#ChangelogTextL{
    border: 0;
    padding: 0.5em;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
#ExitB{
    border: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}