#Window{
    background-color: #FAF7F0;
}
#login_widget{
    background-color: #D8D2C2;
    border-radius: 1em;
}
#login_title_label{
    color: #4A4947;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.5em;
}
.login_lineedit{
    color: #4A4947;
    background-color: #FAF7F0;
    border: 2px solid #FAF7F0;
    border-radius: 0.7em;
    padding: 1em;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5em;
}
#login_login_button{
    color: #4A4947;
    background-color: #FAF7F0;
    border: 0;
    border-radius: 1em;
    padding: 1em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5em;
}
#login_login_button:hover{
    color: #FAF7F0;
    background-color: #4A4947;
}
#login_register_button{
    color: #4A4947;
    background-color: #FAF7F0;
    border: 0;
    border-radius: 1em;
    padding: 1em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5em;
}
#login_register_button:hover{
    color: #FAF7F0;
    background-color: #4A4947;
}
#register_widget{
    background-color: #D8D2C2;
    border-radius: 1em;
}
#register_title_label{
    color: #4A4947;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5em;
}
.register_subtitle_label{
    color: #4A4947;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5em;
}
.register_lineedit{
    color: #4A4947;
    background-color: #FAF7F0;
    border: 2px solid #FAF7F0;
    border-radius: 0.7em;
    padding: 1em;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5em;
}
#register_phonenumber_combobox{
    background-color: #4A4947;
}
#register_register_button{
    color: #4A4947;
    background-color: #FAF7F0;
    border: 0;
    border-radius: 1em;
    padding: 1em;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5em;
}
#register_register_button:hover{
    color: #FAF7F0;
    background-color: #4A4947;
}
#main_widget{
    background-color: #FAF7F0;
}
#main_top_widget{
    background-color: #D8D2C2;
}
.main_page_top_window_buttons{
    color: #4A4947;
    background-color: #FAF7F0;
    border: 2px solid #4A4947;
    border-radius: 1.2em;
    padding: 0.5em;
}
.main_page_top_window_buttons:hover{
    background-color: #4A4947;
    border-color: #FAF7F0;
}
#main_top_button_search_button{
    color: #4A4947;
    background-color: #FAF7F0;
    border: 2px solid #FAF7F0;
    border-radius: 1.2em;
    padding: 1em;
}
#main_top_button_search_button:hover{
    background-color: #4A4947;
    border-color: #4A4947;
}
#main_center_left_label{
    background-color: #00000000;
}
#main_center_center_label{
    background-color: #00000000;
}
.main_page_down_left_button{
    color: #4A4947;
    background-color: #D8D2C2;
    border: 0;
}
.main_page_down_center_button{
    color: #4A4947;
    background-color: #D8D2C2;
    border: 0;
}
.main_page_down_right_button{
    color: #4A4947;
    background-color: #D8D2C2;
    border: 0;
}
.main_page_down_right_button:hover{
    background-color: #00000000;
}
.main_page_down_right_label{
    color: #FAF7F0;
    background-color: #45000000;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.7em;
}
