QWidget{
    background-color: #50000000;
}
#main_widget{
    background-color: #4A4947;
}
#main_widget QScrollArea{
    background-color: #00000000;
    border: 0;
}
#main_widget QScrollArea QWidget{
    background-color: #00000000;
    border: 0;
}
#main_widget QScrollArea QWidget #photo_dimmed{
    background-color: #50000000;
}
#main_widget QScrollArea QWidget #date{
    color: #FAF7F0;
    background-color: #00000000;
    border: 0;
    padding: 1em;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7em;
}
#main_widget QScrollArea QWidget #title{
    color: #FAF7F0;
    background-color: #00000000;
    border: 0;
    padding: 1em;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.7em;
}
#main_widget QScrollArea QWidget #content_widget{
    background-color: #00000000;
    border: 0;
}
#main_widget QScrollArea QWidget #source_widget{
    border: 0;
    border-top: 2px solid #FAF7F0;
}
#main_widget QScrollArea QWidget #source_widget QPushButton{
    color: #FAF7F0;
    background-color: #00000000;
    border: 0;
    padding: 0.5em;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4em;
}
#main_widget QScrollArea QWidget #source_widget QPushButton:hover{
    color: #FAF7F0;
    background-color: #D8D2C2;
}
#main_widget QScrollArea QWidget #hash_widget{
    background-color: #00000000;
    border: 0;
}
#main_widget QScrollArea QWidget #hash_widget QPushButton{
    color: #4A4947;
    background-color: #00000000;
    border: 0;
    padding: 0.5em;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4em;
}
#main_widget QScrollArea QWidget #hash_widget QPushButton:hover{
    color: #4A4947;
    background-color: #D8D2C2;
}

#tools_widget{
    background-color: #4A4947;
}
#tools_day_night_button{
    background-color: #4A4947;
    border: 0;
    padding: 2em;
}
#tools_day_night_button:hover{
    background-color: #D8D2C2;
}
#tools_previous_button{
    background-color: #4A4947;
    border: 0;
    padding: 1em;
}
#tools_previous_button:hover{
    background-color: #D8D2C2;
}
#tools_next_button{
    background-color: #4A4947;
    border: 0;
    padding: 1em;
}
#tools_next_button:hover{
    background-color: #D8D2C2;
}

#tools_exit_button{
    background-color: #4A4947;
    border: 0;
    padding: 2em;
}
#tools_exit_button:hover{
    background-color: #D8D2C2;
}