#ObjectInfoS{
    border-color: #1a1a1a;
    background-color: #1a1a1a;
}
#WidgetW{
    background-color: #00000000;
}
#IconL{
    background-color: #00000000;
}
#TickerL{
    color: #c3c3c3;
    background-color: #00000000;
}
#NameL{
    color: #c3c3c3;
    background-color: #00000000;
}
#MicCodeL{
    color: #c3c3c3;
    background-color: #00000000;
}
#OperatingMicL{
    color: #c3c3c3;
    background-color: #00000000;
}
#CountryL{
    color: #c3c3c3;
    background-color: #00000000;
}
#InfoW{
    background-color: #00000000;
}
.SubTitle{
    color: #c3c3c3;
    background-color: #00000000;
}
.Name{
    color: #c3c3c3;
    background-color: #00000000;
}
.Value{
    color: #c3c3c3;
    background-color: #00000000;
}