#search_button{
    color: #c3c3c3;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;
    padding: 0.3em;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
#search_button:hover{
    background-color: #282828;
}
#objects_list_title_label{
    color: #303030;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
#objects_list_scroll{
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;
}
#objects_list_scroll  QScrollBar:vertical, #objects_list_scroll QScrollBar:horizontal{
    border: none;
    background: #1e1e1e;
    width: 8px;
    margin: 0;
}
#objects_list_scroll QScrollBar::handle:vertical, #objects_list_scroll QScrollBar::handle:horizontal{
    background: #353535;
    min-height: 15px;
    border-radius: 2px;
}
#objects_list_scroll QScrollBar::handle:vertical:hover, #objects_list_scroll QScrollBar::handle:horizontal:hover{
    background: #282828;
}
#objects_list_scroll QScrollBar::add-line:vertical, #objects_list_scroll QScrollBar::sub-line:vertical, #objects_list_scroll QScrollBar::add-line:horizontal, #objects_list_scroll QScrollBar::sub-line:horizontal{
    border: none;
    background: none;
}
#objects_list_scroll QScrollBar::add-page:vertical, #objects_list_scroll QScrollBar::sub-page:vertical, #objects_list_scroll QScrollBar::add-page:horizontal, #objects_list_scroll QScrollBar::sub-page:horizontal{
    background: none;
}
#objects_list_widget{
    background-color: #1a1a1a;
}
.objects_list_section_widget{
    background-color: #1a1a1a;
}
.objects_list_section_open_button{
    color: #c3c3c3;
    background-color: #1a1a1a;
    border: 0;
    padding: 0.1em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.objects_list_section_open_button:hover{
    background-color: #282828;
}
.objects_list_items_widget{
    background-color: #1a1a1a;
}
.objects_list_items_hash_tag{
    color: #c3c3c3;
    background-color: #00000000;
    border: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
}
.objects_list_tag_label{
    color: #c3c3c3;
    background-color: #00000000;
    border: 0;
    padding: 0.1em;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
}
.objects_list_index_button{
    color: #c3c3c3;
    background-color: #00000000;
    border: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.objects_list_index_button:hover{
    background-color: #b40808;
}
.objects_list_data_label{
    color: #c3c3c3;
    background-color: #00000000;
    border: 0;
    padding: 0.1em;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.objects_list_data_button{
    color: #c3c3c3;
    background-color: #252525;
    border: 0;
    padding: 0.1em;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.objects_list_data_button:hover{
    background-color: #282828;
}
#objects_list_lists_title_label{
    color: #303030;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
#objects_list_lists_scroll{
    background-color: #1a1a1a;
    border: 0;
}
#objects_list_lists_scroll QScrollBar:vertical{
    border: none;
    background: #1e1e1e;
    width: 8px;
    margin: 0;
}
#objects_list_lists_scroll QScrollBar::handle:vertical {
    background: #353535;
    min-height: 15px;
    border-radius: 2px;
}

#objects_list_lists_scroll QScrollBar::handle:vertical:hover {
    background: #282828;
}

#objects_list_lists_scroll QScrollBar::add-line:vertical, #objects_list_lists_scroll QScrollBar::sub-line:vertical {
    border: none;
    background: none;
}

#objects_list_lists_scroll QScrollBar::add-page:vertical, #objects_list_lists_scroll QScrollBar::sub-page:vertical {
    background: none;
}
#objects_list_lists_widget{
    background-color: #1a1a1a;
}
.objects_list_lists_button{
    color: #c3c3c3;
    background-color: #1a1a1a;
    border: 0;
    padding: 0.1em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.objects_list_lists_button:hover{
    background-color: #282828;
}
#objects_list_lists_exit_button{
    color: #d7d7d7;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;   
    padding: 0.3em;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
#objects_list_lists_exit_button:hover{
    background-color: #282828;
}
#object_list_edit_title_label{
    color: #303030;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
#object_list_edit_scroll{
    background-color: #1a1a1a;
    border: 0;
}
#object_list_edit_scroll QScrollBar:vertical{
    border: none;
    background: #1e1e1e;
    width: 8px;
    margin: 0;
}
#object_list_edit_scroll QScrollBar::handle:vertical {
    background: #353535;
    min-height: 15px;
    border-radius: 2px;
}

#object_list_edit_scroll QScrollBar::handle:vertical:hover {
    background: #282828;
}

#object_list_edit_scroll QScrollBar::add-line:vertical, #object_list_edit_scroll QScrollBar::sub-line:vertical {
    border: none;
    background: none;
}

#object_list_edit_scroll QScrollBar::add-page:vertical, #object_list_edit_scroll QScrollBar::sub-page:vertical {
    background: none;
}
#object_list_edit_widget{
    background-color: #1a1a1a;
}
.object_list_edit_data_button{
    color: #c3c3c3;
    background-color: #1a1a1a;
    border: 0;
    padding: 0.5em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.object_list_edit_data_button:hover{
    background-color: #282828;
}
#object_list_edit_exit_button{
    color: #c3c3c3;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;   
    padding: 0.3em;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
#object_list_edit_exit_button:hover{
    background-color: #282828;
}
.list_button{
    color: #c3c3c3;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;   
    padding: 0.3em;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.list_button:hover{
    background-color: #282828;
}
.bottom_button{
    color: #c3c3c3;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;   
    padding: 0.3em;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.bottom_button:hover{
    background-color: #282828;
}

#object_icon_label{
    color: #00000000;
    background-color: #00000000;
    border: 0;
    border-radius: 0.25em;
}
#object_ticker_label{
    color: #303030;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
#object_name_label{
    color: #303030;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
#object_time_widget{
    background-color: #00000000;
    border: 0;
    border-radius: 0.25em;
}
#time_close_1_label{
    background-color: #1a1a1a;
}
#time_pre_open_label{
    background-color: #353535;
}
#time_open_label{
    background-color: #0f691c;
}
#time_post_close_label{
    background-color: #353535;

}
#time_close_2_label{
    background-color: #1a1a1a;
}
#time_dot_label{
    background-color: white;
}
#object_chart_widget{
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;
}
#object_info_widget{
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;
}
.object_info_name_label{
    color: #c3c3c3;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
.object_info_value_label{
    color: #c3c3c3;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2em;
}
#object_statistics_widget{
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;
}
#statistics_title_label{
    color: #c3c3c3;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2em;
}
#statistics_index_name_label{
    color: #c3c3c3;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2em;
}
#statistics_name_name_label{
    color: #c3c3c3;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2em;
}
#statistics_capitalization_name_label{
    color: #c3c3c3;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2em;
}.object_statistics_index_label{
    color: #c3c3c3;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.object_statistics_name_label{
    color: #c3c3c3;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.object_statistics_value_label{
    color: #c3c3c3;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
#statistics_stocks_scroll, #statistics_stocks_widget{
    background-color: #00000000;
}

.object_button{
    color: #c3c3c3;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;   
    padding: 0.3em;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.object_button{
    background-color: #282828;
}
#news_label{
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.5em;
}
.news_button{
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;
}
.news_text_label{
    color: #c3c3c3;
    background-color: #80000000;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.5em;
}
.news_text_label:hover{
    background-color: #b0000000;
}
.news_nav_button{
    color: #c3c3c3;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;
    padding: 0.3em;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.news_nav_button:hover{
    background-color: #282828;
}
.news_type_button{
    color: #c3c3c3;
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0.25em;
    padding: 0.3em;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.news_type_button:hover{
    background-color: #282828;
}