#SearchW{
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}
#SearchE{
    color: #2b2b2b;
    border-color: #eeeeee;
    background-color: #eeeeee;
}
.SortTypeB{
    color: #2b2b2b;
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}
.SortTypeB:hover{
    border-color: #f5f5f5;
    background-color: #f5f5f5; 
}
#ResultS{
    background-color: #f5f5f5;
}
#ResultW{
    background-color: #00000000;
}
.IndexL{
    color: #2b2b2b;
    background-color: #00000000;
}
.NameB{
    color: #2b2b2b;
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}
.NameB:hover{
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}
#ExitB{
    color: #2b2b2b;
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}
#ExitB:hover{
    border-color: #f5f5f5;
    background-color: #f5f5f5; 
}