#SearchW{
    border-color: #1a1a1a;
    background-color: #1a1a1a;
}
#SearchE{
    color: #c3c3c3;
    border-color: #1d1d1d;
    background-color: #1d1d1d;
}
.SortTypeB{
    color: #c3c3c3;
    border-color: #282828;
    background-color: #282828;
}
.SortTypeB:hover{
    border-color: #1a1a1a;
    background-color: #1a1a1a; 
}
#ResultS{
    background-color: #1a1a1a;
}
#ResultW{
    background-color: #00000000;
}
.IndexL{
    color: #c3c3c3;
    background-color: #00000000;
}
.NameB{
    color: #c3c3c3;
    border-color: #282828;
    background-color: #282828;
}
.NameB:hover{
    border-color: #1a1a1a;
    background-color: #1a1a1a;
}
#ExitB{
    color: #c3c3c3;
    border-color: #282828;
    background-color: #282828;
}
#ExitB:hover{
    border-color: #1a1a1a;
    background-color: #1a1a1a; 
}