#ListAddBackgroundW{
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}
#NameL{
    color: #2b2b2b;
    background-color: #00000000;
}
#ListAddS{
    background-color: #f5f5f5;
}
#ListAddW{
    background-color: #00000000;
}
.SectionNameL{
    color: #2b2b2b;
    border-color: #eeeeee;
    background-color: #eeeeee;
}
.AddB{
    color: #2b2b2b;
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}
.AddB:hover{
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}
#NameL{
    color: #2b2b2b;
    background-color: #00000000;
}
#ExitB{
    color: #2b2b2b;
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}
#ExitB:hover{
    border-color: #f5f5f5;
    background-color: #f5f5f5;
}