#SearchW{
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
}
#SearchE{
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.25em;
}
.SortTypeB{
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
#ResultS{
    border: 0;
}
#ResultW{
    border: 0;
}
.IndexL{
    border: 0;
    margin: 0.1em;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.NameB{
    margin: 0.1em;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
#ExitB{
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
}